@keyframes slide-in-right-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-right-left {
  animation: slide-in-right-left .5s ease-out forwards;
}

.slide-in-bottom-up {
  animation: slide-in-bottom-up .5s ease-out forwards;
}
