.board {
  box-sizing: border-box;
  max-height: inherit;
  display: grid;
  grid-template-areas:
    "dates dates"
    "users calendar"
  ;
  grid-template-columns: minmax(80px, 120px) 1fr;
  grid-template-rows: 50px 1fr;
  column-gap: 5px;
  padding: 0 10px 10px;
  background-color: var(--colorUIPrimary);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.board__users {
  grid-area: users;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.board__dates {
  box-sizing: border-box;
  grid-area: dates;
  position: sticky;
  top: 0;
  display: flex;
  column-gap: 5px;
  padding: 10px 0 5px 125px;
  background-color: var(--colorUIPrimary);
  z-index: 5;
}

.board__calendar {
  grid-area: calendar;
  display: flex;
  column-gap: 5px;
}

@media screen and (max-width: 1280px){
  .board {
    grid-template-columns: minmax(50px, 80px) 1fr;
    grid-template-rows: 47px 1fr;
    column-gap: 3px;
  }

  .board__users {
    row-gap: 3px;
  }

  .board__dates {
    column-gap: 3px;
    padding: 10px 0 3px 83px;
  }

  .board__calendar {
    column-gap: 3px;
  }
}

@media screen and (max-width: 1023px){
  .board {
    grid-template-columns: 60px 1fr;
    grid-template-rows: 40px 1fr;
    padding: 0 5px 5px 5px;
  }

  .board__dates {
    padding: 5px 0 3px 63px;
  }
}

@media screen and (max-width: 767px){
  .board {
    gap: 1px;
  }

  .board__users {
    row-gap: 1px;
  }

  .board__dates {
    column-gap: 1px;
    padding: 5px 0 3px 61px;
  }

  .board__calendar {
    column-gap: 1px;
  }
}

@media screen and (max-width: 400px){
  .board {
    padding: 0 3px 3px 3px;
  }
}
