.board-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-height: var(--boardMaxHeight);
  display: flex;
  align-items: center;
  column-gap: 20px;
  z-index: 0;
}

.board-container__board {
  align-self: stretch;
  flex-grow: 1;
}

.board-container__button {
  flex-shrink: 0;
}

@media screen and (max-width: 1600px){
  .board-container__button {
    position: absolute;
    top: 10px;
    z-index: 7;
  }

  .board-container__button.button_prev {
    left: 30px;
  }

  .board-container__button.button_next {
    left: 75px;
  }
}

@media screen and (max-width: 1280px){
  .board-container__button.button_prev {
    left: 15px;
  }

  .board-container__button.button_next {
    left: 55px;
  }
}

@media screen and (max-width: 1023px){
  .board-container__button {
    top: 5px;
  }

  .board-container__button.button_prev {
    left: 3px;
  }

  .board-container__button.button_next {
    left: 33px;
  }
}
