.calendar-column {
  max-width: 155px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.calendar-column__date {
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: var(--colorTextPrimary);
  padding: 10px;
  background-color: var(--colorUICalendar);
  border-radius: 5px;
  z-index: 5;
}

.calendar-column_current-day .calendar-column__date {
  color: var(--colorTextTertiary);
  background-color: var(--colorUISecondary);
}

@media screen and (max-width: 1280px){
  .calendar-column {
    row-gap: 3px;
  }

  .calendar-column__date {
    font-size: 12px;
  }
}

@media screen and (max-width: 1023px){
  .calendar-column__date {
    font-size: 10px;
    padding: 5px;
  }
}

@media screen and (max-width: 767px){
  .calendar-column {
    row-gap: 1px;
  }
}
