.calendar-task {
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--colorUICardBoard);
  border-radius: 5px;
  transition: filter var(--transitionBase);
}

.calendar-task__title {
  margin: 0 auto;
  max-width: 130px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--colorTextPrimary);
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calendar-task__popup {
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  right: 5px;
  width: 200px;
  padding: 10px;
  background-color: var(--colorUICardBacklog);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transitionBase);
}

.calendar-task:hover .calendar-task__popup {
  visibility: visible;
  pointer-events: all;
  animation: slide-in-bottom-up .3s ease-out .2s forwards;
  z-index: 1;
}

.calendar-task__subtitle {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--colorTextPrimary);
  overflow: hidden;
}

.calendar-task__description {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--colorTextPrimary);
}

.calendar-task__date {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  color: var(--colorTextSecondary);
}

.calendar-task__date:last-of-type {
  margin-bottom: 0;
}

.calendar-task__date-span {
  color: var(--colorTextPrimary);
}

@media screen and (max-width: 1600px){
  .calendar-task__title {
    max-width: 90px;
    font-size: 11px;
  }
}

@media screen and (max-width: 1280px){
  .calendar-task__title {
    font-size: 10px;
  }
}

@media screen and (max-width: 1023px){
  .calendar-task__title {
    font-size: 8px;
    font-weight: 400;
  }

  .calendar-task__popup {
    width: 150px;
    top: 10px;
    right: -5px;
    padding: 5px;
  }

  .calendar-task__description, .calendar-task__date {
    font-size: 12px;
  }

  .calendar-task__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px){
  .calendar-task {
    padding: 2px;
  }

  .calendar-task__title {
    max-width: 45px;
  }

  .calendar-task__popup {
    width: 120px;
  }

  .calendar-task__description, .calendar-task__date {
    font-size: 10px;
  }

  .calendar-task__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 540px){
  .calendar-task__title {
    max-width: 35px;
  }

  .calendar-task__popup {
    width: 100px;
  }
}

@media screen and (max-width: 400px){
  .calendar-task__title {
    max-width: 25px;
  }

  .calendar-task__popup {
    width: 85px;
  }
}
