.lead {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 30px 20px 0 95px;
}

.lead__theme-btn {
  position: absolute;
  top: 30px;
  right: 10px;
}

@media screen and (max-width: 1600px){
  .lead {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1280px){
  .lead__theme-btn {
    top: 20px;
  }
}

@media screen and (max-width: 767px){
  .lead {
    padding: 10px 5px 0;
  }

  .lead__theme-btn {
    top: 0;
    right: 0;
  }
}
