.main-title {
  margin: 0 auto;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  color: var(--colorTextPrimary);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 1280px){
  .main-title {
    font-size: 28px;
  }
}
