.search-form {
  box-sizing: border-box;
  display: flex;
  padding: 7px;
  border: 1px solid var(--colorUIBorders);
  border-radius: 28px;
}

.search-form__input {
  box-sizing: border-box;
  flex-grow: 1;
  width: calc(100% - 35px);
  font-size: 18px;
  color: var(--colorTextPrimary);
  line-height: 1.2;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (max-width: 1280px){
  .search-form {
    padding: 3px;
  }

  .search-form__input {
    font-size: 12px;
  }
}
